<!DOCTYPE html>
<html layout:decorator="main">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <form th:action="@{/signUpForm}" th:object="${client}" method="post">
                    <div>
                        <label for="name">Imię</label>
                        <input type="text" name="name" id="name" th:field="*{name}" required="true"></input>
                    </div>
                    <div>
                        <label for="surname">Nazwisko:</label>
                        <input type="text" id="surname" th:field="*{surname}" required="true"></input>
                    </div>
                    <div>
                        <label for="street">Ulica:</label>
                        <input type="text" id="street" th:field="*{street}" required="true"></input>
                    </div>
                    <div>
                        <label for="city">Miejscowość:</label>
                        <input type="text" id="city" th:field="*{city}" required="true"></input>
                    </div>
                    <div>
                        <label for="postCode">Kod pocztowy: </label>
                        <input type="text" id="postCode" th:field="*{postCode}" required="true"></input>
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" id="email" th:field="*{email}" required="true"></input>
                    </div>
                    <div>
                        <label for="password">Haslo </label>
                        <input type="password" id="password" th:field="*{password}" required="true"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Potwierdź</button>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>